

 h1{
    color: #502050;
    font-family: 'League Spartan', sans-serif;
    font-size: 70px;
    width: 500px; 
}
h2{
    color: #937b92;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    width: 450px; 
}
h3{
  
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: #f7f2f7;
    padding:10px;
   
}
.rated-rev{
    margin-top: 5px;
    margin-left: 920px;
    margin-bottom: 20px;
}
.rated-gur{
    margin-left: 960px;
}
.rated-best{
    margin-left: 1000px;
}
h4{
    font-style: oblique;
    color: #937b92;
}
div{
    width:400px;
    height:150px;
    display: inline-block;
}
.first-review{
    top: 30px;
    left: 50px;
    background-color:#502050 ;
    border-radius: 15px;
    color: white;
    padding: 10px;
}
.second-review{
    
    background-color:#502050 ;
    border-radius: 15px;
    color: white;
    padding: 10px;

}
.third-review{
   
    background-color:#502050;
    border-radius: 15px;
    color: white;
    padding: 10px;
}
